@import "./color_schemes/dark";

$body-background-color: #272727;
$body-heading-color: #f5f5f5;
$body-text-color: #e6e6e6;
$link-color: #f48fb1;
$nav-child-link-color: #959595;
$sidebar-color: #272727;
$base-button-color: #303030;
$btn-primary-color: #f48fb1;
$code-background-color: #313131;
$code-linenumber-color: #dedede;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: #303030;
$search-background-color: #303030;
$search-result-preview-color: #959595;
$border-color: #444444;
